
Dear <%= @order.name %>

Thank you for your recent order from The Pragmatic Store.
You ordered the following items:

<%= render @order.line_items -%>

We'll send you a separate email when your order ships.




<p>
  This is just to let you know that we've shipped your recent order:
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items -%>
</table>